[submodule "htdocs/modules/minion"]
	path = htdocs/modules/minion
	url = http://github.com/kohana/minion.git
[submodule "htdocs/modules/database"]
	path = htdocs/modules/database
	url = https://github.com/blaremc/database.git
[submodule "htdocs/modules/auth"]
	path = htdocs/modules/auth
	url = http://github.com/kohana/auth.git
[submodule "htdocs/modules/cache"]
	path = htdocs/modules/cache
	url = http://github.com/kohana/cache.git
[submodule "htdocs/system"]
	path = htdocs/system
	url = http://github.com/kohana/core.git
[submodule "htdocs/modules/image"]
	path = htdocs/modules/image
	url = http://github.com/kohana/image.git